@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#author-name, #navlist {
  font-family: "Inconsolata", monospace;
}
body {
    margin: 0;
    font-family: "Verdana", Times, serif;
    height: 100%;
	background-color: #FFFFDD;
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

.highlight-red {
	background-color: #ffaaaa;
}
.highlight-orange {
	background-color: #ffd486;
}
.highlight-green {
	background-color: #aaffad;
}
.highlight-blue {
	background-color: #d8e7ff;
}

.subtitle {
	font-family: "Verdana", Times, serif;
}


/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}
figure {
  text-align: center; /* Centers the image and caption */
  margin: 0.2em 0;
}

figure img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto;
}

.post h1 {
  margin: 0;
  padding: 0;
}

.post time {
  display: block;
  margin-top: 5px;
  font-style: italic;
}

figcaption {
  font-size: 0.9em; /* Adjust the font size if needed */
  color: #666; /* Light color for the caption */
  margin-top: 0.1em; /* Adds space between image and caption */
  font-style: italic; /* Makes the caption italic */
}

/* Institute Image */

#ins-logo {
	margin: auto;
	display: block;
	max-height: 100px;
	text-align: center;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}

@import "typography";
@import "tables";
@import "tags";
