---
layout: default
---
{% if page.featured_image %}
  <div class="featured-image">
    <img src="{{ site.baseurl }}/{{ page.featured_image }}" alt="Featured image for {{ page.title }}">
  </div>
{% endif %}
{% if page.featured_image %}
  <figure>
    {% if page.caption %}
      <figcaption>{{ page.caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
<article class="post">
  <h1>{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}">
    posted on {{ page.date | date: "%d %B %Y" }}
  </time>
  
  {% if page.tags %}
  <div class="tags">
    {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <div class="content">
	<hr>
    {{ content }}
  </div>
</article>

<!-- livereload functionality -->
<script src="http://127.0.0.1:35729/livereload.js"></script>

